.content {
  position: absolute;
  width: 400px;
  line-height: 26px;
  min-height: 46px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  z-index: 9999;
  font-size: 14px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.84);
  text-align: left;
  letter-spacing: 1px;
  color: #ffffff;
  border-top: 4px solid #FFFF99;
  font-family: 'Noto Sans SC', -apple-system, Helvetica Neue sans-serif;
  transition: top .2s ease, left .2s ease;
}

.bounce-enter-active {
  animation: bounceIn .3s ease;
}
.bounce-leave-active {
  animation: fadeOut .3s ease;
}
@keyframes bounceIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}