.tua-content {
  position: absolute;
  width: 400px;
  line-height: 26px;
  min-height: 46px;
  z-index: 9999;
  font-size: 14px;
  border-radius: 1px;
  box-sizing: border-box;
  transition: top .2s ease, left .2s ease;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  overflow: hidden;
  // border-left: 5px solid #3d7e9a;
  border-bottom: 4px solid #222;

  &-source {
    background-color: #222;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    color: #fff;
    overflow: hidden;
    font-family: 'Lora', serif;
  }

  &-result {
    color: #41464B;
    text-align: left;
    letter-spacing: 1px;
    padding: 6px 10px 8px;
    box-sizing: border-box;
    font-family: 'Noto Sans SC', -apple-system, Helvetica Neue sans-serif;
  }
}

.tua-menu  {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  button {
    &:hover {
      background-color: unset;
    }
    svg {
      height: 30px;
      width: 30px;
    }
  }
}

button {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
}

.bounce-enter-active {
  animation: bounceIn .3s ease;
}

.bounce-leave-active {
  animation: fadeOut .3s ease;
  transition: border .1s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}