.tua-content {
  position: absolute;
  z-index: 9999;
  width: 400px;
  line-height: 30px;
  min-height: 46px;
  font-size: 14px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.84);

  &-result {
    color: #fff;
    text-align: left;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 8px 12px 8px 16px;
    box-sizing: border-box;
    font-family: 'Noto Sans SC', -apple-system, Helvetica Neue sans-serif;
  }

  &-triangle {
    position: absolute;
    left: 190px;
    top: -10px;
    height: 10px;
    width: 20px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    box-shadow: rgba(0, 0, 0, 0.54) 1px 1px 1px -1px;
    background: rgba(0, 0, 0, 0.84);
  }

  &-enter-active {
    animation: fadeIn .3s ease;
  }

  &-leave-active {
    animation: fadeOut .2s ease;
  }
}

.tua-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;

  button {
    &:hover {
      background-color: unset;
    }

    svg {
      height: 30px;
      width: 30px;
    }
  }
}
