.popup {
  width: 300px;
  height: 428px;
  box-sizing: border-box;
  background-color: #f7f7f7;

  &-header {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .logo {
      font-size: 16px;

      svg {
        height: 16px;
        margin-top: 11px;
      }
    }

    .switch {
      input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
      }

      label {
        position: relative;
        top: -30px;
        cursor: pointer;
        text-indent: -9999px;
        width: 40px;
        height: 20px;
        background: grey;
        display: block;
        border-radius: 20px;
      }

      label:after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: 2px;
        top: 2px;
        background: #fff;
        border-radius: 16px;
        transition: .3s ease;
      }

      input:checked+label {
        background: #31D74B;
      }

      input:checked+label:after {
        left: 22px;
      }

    }
  }

  &-content {
    padding: 12px 12px;
    box-sizing: border-box;
    font-size: 16px;

    textarea {
      font-size: 16px;
      width: 100%;
      border: none;
      resize: none;
      outline: none;
      box-sizing: border-box;
      padding: 14px;
      margin-bottom: -4px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &-source {}

    &-target {
      // height: 30px;
      // line-height: 30px;
      margin: 14px 0;

      button {
        height: 28px;
        width: 60px;
        background-color: rgba(255, 255, 255, .97);
        border-color: rgba(255, 255, 255, .97);
        color: rgba(0, 0, 0, .84);
        cursor: pointer;
        margin: 0;
        margin-right: 10px;
        border-radius: 3px;
        transition: all .2s ease;
        outline: none;

        &:hover {
          background: rgba(0, 0, 0, .64);
          border-color: rgba(0, 0, 0, .64);
          color: rgba(255, 255, 255, .97);
        }

        &.active {
          background: rgba(0, 0, 0, .84);
          border-color: rgba(0, 0, 0, .84);
          color: rgba(255, 255, 255, .97);
        }
      }
    }

    &-result {
      position: relative;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 14px;
      height: 144px;

      .clipboard {
        position: absolute;
        bottom: 5px;
        right: 5px;
        padding: 0;

        svg {
          height: 20px;
          width: 20px;
          fill: #54585d;
        }
      }
    }
  }
}