p.tua-trans {
  display: block;
  // border-left: 4px solid #f66;
  padding-top: 7px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin-bottom: 10px;
  background-color: #f5f9fa;
}
p.tua-trans-source {
  border-top: 6px solid #54585d;
  margin-bottom: 0;
}
p.tua-trans-result {
  color: #f5f9fa;
  background-color: #54585d !important;
  margin-top: 0;
}