main p.tua-trans,
#main p.tua-trans,
.main p.tua-trans {
  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

main p.tua-trans-source,
#main p.tua-trans-source,
.main p.tua-trans-source {
  color: #646464;
  margin-bottom: 0;
  padding-bottom: 2px;
}

main p.tua-trans-result,
#main p.tua-trans-result,
.main p.tua-trans-result {
  color: #41464B;
  margin-top: 0;
  padding-top: 2px;
}